{% extends "base.html" %}

{% block title %}من نحن{% endblock title %}

{% block content %}
    <div class="flex flex-col flex-1 justify-center items-center py-10 bg-white lg:px-8 px-4">
      <div class="flex lg:items-start lg:flex-row flex-col gap-10">
        <strong class="lg:text-right text-center lg:text-7xl md:text-6xl sm:text-4xl text-2xl">خطط لرحلتك !</strong>
        <div class="swiper bg-secondary lg:py-10 md:py-8 sm:py-6 py-4 w-full lg:max-w-md md:max-w-sm max-w-xs transition-transform rounded-full overflow-hidden duration-700">
          <div class="swiper-wrapper">
            {% for slide in slides %}
              <div class="w-full swiper-slide px-16">
                <div class="flex flex-col gap-4 items-center text-center">
                  <h4 class="lg:text-3xl md:text-2xl sm:text-xl text-lg font-bold text-primary-foreground">{{ slide.title }}</h4>
                  <p class="lg:text-xl md:text-lg sm:text-base text-sm">{{ slide.description }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev w-16 h-16 lg:scale-75 md:scale-50 sm:scale-[40%] scale-[35%] text-black border-black rounded-full border-2"></div>
          <div class="swiper-button-next w-16 h-16 lg:scale-75 md:scale-50 sm:scale-[40%] scale-[35%] text-black border-black rounded-full border-2"></div>
        </div>
      </div>
      <div class="relative w-full lg:h-20 lg:block flex flex-col items-center lg:mt-0 mt-10">
        <div class="swiper overflow-hidden h-64 lg:block flex justify-center lg:absolute lg:-top-20 lg:left-1/2 lg:translate-x-[calc(50%-250px)] w-full max-w-md z-10 mb-10">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="object-cover w-full h-64" src="/static/imgs/slider-img-1.png" alt="slider image 1">
            </div>
            <div class="swiper-slide">
              <img class="object-cover w-full h-64" src="/static/imgs/slider-img-2.png" alt="slider image 2">
            </div>
            <div class="swiper-slide">
              <img class="object-cover w-full h-64" src="/static/imgs/slider-img-3.png" alt="slider image 3">
            </div>
          </div>
          <div class="swiper-button-prev w-16 h-16 scale-50 text-white/40 bg-black/20 hover:bg-black/40 rounded-full"></div>
          <div class="swiper-button-next w-16 h-16 scale-50 text-white/40 bg-black/20 hover:bg-black/40 rounded-full"></div>
        </div>
        <div class="lg:absolute top-7 left-1/2 lg:translate-x-[calc(50%-550px)] z-20">
          <a href="/packages" class="w-fit mt-3 py-3 px-4 inline-flex items-center gap-x-2 lg:text-3xl md:text-2xl sm:text-xl text-lg font-semibold rounded-lg border border-transparent bg-primary text-primary-foreground hover:bg-primary-dark transition-colors disabled:opacity-50 disabled:pointer-events-none">
            ابدأ باختيار بكجك <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:w-12 lg:h-12 md:w-10 md:h-10 w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg> 
          </a>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_script %}
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
  </script>
{% endblock extra_script %}