{% extends "base.html" %}

{% block title %}شكراً لكم{% endblock title %}

{% block content %}
    <div class="flex-1 flex justify-center items-center py-10 lg:px-8 px-4">
        <div class="bg-primary-foreground rounded-lg p-8 shadow-lg text-center text-2xl space-y-4">
            <p>شكرًا لأختيارك Alahsa Packaging🌴</p>
            <p>نتمنى لك رحلة شيقة معنا !</p>
            <p>سوف يتم التواصل معكم عبر الواتس اب ✨</p>
            <p></p>
            <a href="/" class="w-fit py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary text-primary-foreground hover:bg-primary-dark transition-colors disabled:opacity-50 disabled:pointer-events-none">
                العودة للصفحة الرئيسية <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>  
            </a>
        </div>
    </div>
{% endblock content %}
